body {
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Balsamiq Sans', cursive;
  color: white;
  box-shadow: black, 10px;
}

h2 {
  font-family: 'Balsamiq Sans', cursive;
}

.col-md-8, .col-md-4 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.well {
  background-color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  width: 600px;
  text-align: center;
}


.rogers {
  display:none;
}

p {
  font-size: 50px;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
}

.rogers {
text-align: center;
}

.btn {
  font-size: 20px;
}

.container {
  padding-top: 30px;
}

#result {
    height: auto;
    width: 400px;
}